ansible-core>=2.12 # require undef filter
git+https://github.com/stackhpc/azimuth-robotframework.git@feat/test-timing#egg=azimuth-robotframework
bcrypt==4.0.1  # this is the latest version that doesn't emit a warning
jmespath
munch
passlib
python-octaviaclient
python-openstackclient
robotframework
