name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - run: >-
          pip install
            mkdocs==1.3.0
            mkdocs-material==8.3.8
            mkdocs-git-revision-date-localized-plugin

      - run: mkdocs gh-deploy --force
